/* Aisling
Ellide
Ilayda
Migine
Odine
Willarose
 */

body {
  background-color: #c1adcc;
  background-image: url(Images/Background.png);
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Satisfy', cursive;
}

.star {
  width: 8%;
  height: 8%;
  background-image: url(Images/star.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 2.2vw;
  top: 5vw;
  animation: 4s linear infinite swing;
}

.star-02 {
  width: 3%;
  height: 3%;
  background-image: url(Images/star.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 2.2vw;
  top: 5.8vw;
  animation: 3s linear infinite swing;
}

.moon {
  width: 10%;
  height: 10%;
  background-image: url(Images/moon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 2.2vw;
  top: 5.5vw;
  animation: 5s linear infinite swing;
}

.upper-container {
  width: 50%;
  height: 25vw;
  margin-left: 10%;
  margin-top: 3%;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.friends-container {
  width: 80%;
  height: 18vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.introduction p {
  font-size: 1.5vw;
  text-shadow: 0px 0px 10px rgb(255, 151, 238);
  color: rgb(206, 141, 195);
}

.introduction span {
  text-shadow: 0px 0px 10px rgb(255, 151, 238);
  color: rgb(199, 165, 193);
}

.question-box {
  width: 67%;
  height: 90%;
  margin-right: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: top;
}

.questionnaire {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.results {
  width: 100%;
  height: 27%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.congratulations {
  position: relative;
  display: flex;
}

.congratulations-background {
  height: 100%;
  width: 100%;
  background-image: url(Images/Light.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: 10s wheel linear infinite;
  position: absolute;
}

.congratulations p {
  text-shadow: 0px 0px 10px rgb(255, 151, 238);
  color: rgb(217, 182, 211);
  font-size: 2.2vw;
  text-align: center;
  animation: none;
  z-index: 2;
}

.congratulations span {
  color: rgb(206, 141, 195);
}

/* Questions START */

.guardian {
  width: 45%;
  height: 90%;
  background-image: url(Giphs/Guardian.gif);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: -3vw;
  top: 1vw;
}

.question-frame {
  background-image: url(Images/question-frame.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 85%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

input {
  width: 12vw;
  height: 1.3vw;
  margin-top: 0.4vw;
  margin-bottom: 1.5vw;
  font-family: 'Satisfy', cursive;
  font-style: italic;
  text-align: center;
  border: 3px solid rgb(255, 252, 187);
  border-radius: 5px;
  box-shadow: 0px 3px 5px rgb(182, 182, 182);
}

.next-container {
  width: 20%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#next {
  margin-bottom: 0.8vw;
  margin-right: 0.3vw;
  width: 20%;
  height: 20%;
  cursor: pointer;
  text-align: center;
  color: rgb(162, 132, 170);
  transition: all 300ms ease-in-out;
  z-index: 2;
}

#next:hover {
  scale: 115%;
  color: rgb(101, 67, 110);
}

.next-background {
  width: 4vw;
  height: 4vw;
  background-image: url(Images/Light.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  animation: 10s linear infinite wheel;
}

.question {
  background-image: url(Images/question.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 28%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.key-container {
  position: absolute;
  background-image: url(Images/Tear.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 13%;
  height: 22%;
  bottom: 85%;
  right: -4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.key-number {
  color: #977da4;
  margin-left: 1vw;
  margin-top: 0.2vw;
}

.key-image-count {
  height: 50%;
  width: 50%;
  background-image: url(Images/Key.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}

.key-image-count-background {
  height: 50%;
  width: 50%;
  background-image: url(Images/Light.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 0.7vw;
  animation: 10s linear infinite wheel;
}

.key {
  width: 100%;
  height: 90%;
  transition: all 300ms ease-in-out;
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 1vw;
}

.key:hover {
  transform: scale(110%);
}

.key-image {
  width: 30%;
  height: 100%;
  background-image: url(Images/Key.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: 2;
}

.key-image-background {
  width: 30%;
  height: 100%;
  background-image: url(Images/Light.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: 10s linear infinite wheel;
}

.next {
  position: absolute;
  width: 15%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  color: rgb(162, 132, 170);
}

.next:hover {
  color: rgb(101, 67, 110);
}

.next span {
  z-index: 2;
}

.retry {
  position: absolute;
  width: 15%;
  height: 80%;
  color: rgb(85, 24, 24);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.retry:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 10px rgb(154, 15, 15);
}

.answers {
  width: 100%;
  height: 62%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.answer-01,
.answer-02,
.answer-03 {
  width: 50%;
  height: 18%;
  background-color: #FFE2F9;
  border: 3px solid #FDFFD8;
  border-radius: 5px;
  color: rgb(95, 47, 90);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.2vw;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.answer-01:hover,
.answer-02:hover,
.answer-03:hover {
  transform: scale(105%);
  box-shadow: 0px 0px 10px #e3b9da;
  background-color: #e3b9da;
  color: white;
}

.no-hover {
  pointer-events: none;
}

.incorrect {
  box-shadow: 0px 0px 10px rgb(174, 110, 110);
  background-color: rgb(101, 54, 54);
  border: 3px solid rgb(143, 93, 93);
  color: white;
}

.incorrect:hover {
  transform: scale(105%);
  box-shadow: 0px 0px 10px rgb(174, 110, 110);
  background-color: rgb(143, 93, 93);
  border: 3px solid rgb(101, 54, 54);
  color: rgb(48, 15, 15);
}

/* Questions END */

/* Wheel START */

.wheel {
  border-radius: 50%;
  margin-left: 50px;
  position: absolute;
  left: 64%;
  top: 6%;
  height: 20vw;
  width: 20vw;
  animation-name: wheel;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border: 10px double #efdbff;
}

.line {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0% 0%;
  border: 5px double #F8EFFF;
}

.line:nth-of-type(2) {
  transform: rotate(60deg);
}

.line:nth-of-type(3) {
  transform: rotate(120deg);
}

.line:nth-of-type(4) {
  transform: rotate(180deg);
}

.line:nth-of-type(5) {
  transform: rotate(240deg);
}

.line:nth-of-type(6) {
  transform: rotate(300deg);
}

.cabin,
.open {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 25%;
  height: 25%;
  position: absolute;
  animation: cabins 10s ease-in-out infinite;
  cursor: pointer;
}

.cabin {
  background-image: url(Images/Closed-chest.png);
}

.open {
  background-image: url(Images/Open-chest.png);
  width: 25%;
  height: 25%;
}

.cabin:nth-of-type(1) {
  right: -13%;
  top: 45%;
}

.cabin:nth-of-type(2) {
  right: 13%;
  top: 89%;
}

.cabin:nth-of-type(3) {
  right: 65%;
  top: 89%;
}

.cabin:nth-of-type(4) {
  left: -13%;
  top: 44%;
}

.cabin:nth-of-type(5) {
  left: 14%;
  top: 0%;
}

.cabin:nth-of-type(6) {
  right: 10%;
  top: 0%;
}

/* Wheel END */

/* Friends START */

.friend-container {
  height: 100%;
  width: 15%;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.friend-01,
.friend-02,
.friend-03,
.friend-04,
.friend-05,
.friend-06 {
  background-size: contain;
  background-repeat: no-repeat;
  height: 50%;
  width: 63%;
  margin-bottom: 0vw;
  filter: contrast(0%);
  transition: all 500ms ease-in-out;
}

.first {
  background-image: url(Images/Card_Odine.png);
}

.second {
  background-image: url(Images/Card_Aisling.png);
}

.third {
  background-image: url(Images/Card_Ellide.png);
}

.fourth {
  background-image: url(Images/Card_Migine.png);
}

.fifth {
  background-image: url(Images/Card_Illayda.png);
}

.sixth {
  background-image: url(Images/Card_WillaRose.png);
}

.light {
  filter: contrast(100%);
}

.light:hover {
  transform: scale(130%);
}

.friend-01 {
  background-image: url(Giphs/Friend-01.gif);
  height: 50%;
  width: 84%;
  margin-bottom: 2vw;
}

.friend-02 {
  background-image: url(Giphs/Friend-02.gif);
}

.friend-03 {
  background-image: url(Giphs/Friend-03.gif);
}

.friend-04 {
  background-image: url(Giphs/Friend-04.gif);
}

.friend-05 {
  background-image: url(Giphs/Friend-05.gif);
  margin-right: 0.5vw;
}

.friend-06 {
  background-image: url(Giphs/Friend-06.gif);
}

/* Friends END */

.no-display {
  display: none;
}

.disappear {
  opacity: 0%;
}

/* Animations */

@keyframes wheel {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes cabins {
  0% {
    transform: rotate(0deg);
    transform-origin: center;
  }

  100% {
    transform: rotate(-360deg);
    transform-origin: center;
  }
}

@keyframes swing {

  0% {
    transform: rotate(10deg);
    transform-origin: top center;

  }

  50% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(10deg);
    transform-origin: top center;
  }
}